$dark: rgb(6, 2, 17)
$background: linear-gradient(45deg,#74ebd5 0%,#ACB6E5 100%)
$footerheight: 100px
$footermobile: 175px
$navHeight: 65px
$projbarHeight: 80px
$btnShadow: 0 4px rgba(0,0,0,0.5)
$btnHoverShad: 0 3px rgba(0,0,0,0.5)
$btnShadowSmall: 0 2px rgba(0,0,0,0.5)
$mobileInnerWidth: 90vw
$secondary: #203e69
$active: #31a6ff

$shadow1: 0 0 15px rgba(0,0,0,0.25)
$shadow2: 0 0 10px rgba(0,0,0,0.5)

$cancel: rgb(255, 103, 79)
$construction: rgb(255, 234, 79)

$borderText: 2px 2px $secondary, -2px -2px $secondary, 2px -2px $secondary, -2px 2px $secondary, 0px 2px $secondary, 0 -2px $secondary, 2px 0 $secondary, -2px 0 $secondary

$mobileBreakpoint: 800px