@use 'globals'

.apSkills
    @include globals.flexCenter
    justify-content: flex-start !important
    flex-direction: column
    gap: 18px
    @mixin apSkillsBtn()
        padding: 11px
    h2
        line-height: 1.5rem !important
        button
            box-shadow: globals.$shadow2
            padding: 4px
            i
                font-size: 0.9rem
    h3
        @include globals.flexCenter
        gap: 6px
        margin-top: 18px
        font-size: 1.1rem
        font-weight: 600
        button
            box-shadow: globals.$shadow2
            padding: 4px
            i
                font-size: 0.9rem
                
    .skillsLayout
        @include globals.flexCenter
        justify-content: flex-start
        width: 100%
        gap: 12px
        transition: 0.125s
        &.changed
            .skillsRow
                outline-color: limegreen
        &.delete
            .skillsRow
                outline-color: transparent
            .rstBtn
                opacity: 0 !important
            .recoverBtn
                display: flex
            .trashBtn
                display: none
            .skillsRow
                opacity: 0.45
                //background: globals.$cancel
                &::before
                    content: ""
                    position: absolute
                    height: 2px
                    width: calc(100% + 12px)
                    left: -6px
                    background: black
                    z-index: 100
                button
                    display: none
        button
            @include apSkillsBtn()
            i
                $size: 14px
                @include globals.flexCenter
                width: $size
                height: $size
            &.trashBtn
                background: globals.$cancel
                color: #fff
                &:hover
                    background: red
                    color: #fff
                    box-shadow: 0 0 6px globals.$cancel
            &.recoverBtn
                background: darken(orange, 10%)
                color: #fff
                display: none
                &:hover
                    background: orange
        .skillsRow
            @include globals.flexCenter
            justify-content: flex-start
            position: relative
            width: 100%
            min-height: 37px
            border-radius: 8px
            gap: 12px
            background: rgba(#aaa, 0.5)
            transition: 0.2s
            outline: 2px solid transparent
            button
                $size: 30px
                width: $size
                height: $size
                padding: 0
                font-weight: bold
                font-size: 1.15rem
                color: #333
                background: none
                border: 2px solid #fff
                margin-left: 12px
    .addRowBtn
        @include apSkillsBtn()
        box-shadow: globals.$shadow2