@use 'globals'
    
/*Loading*/
.img-middle.loading
    opacity: 0.95

.img-back.loading
    opacity: 0.75

.img-front.loading *,
.img-middle.loading *,
.img-back.loading *
    opacity: 0 !important

/*Video*/
video
    position: inherit
    top: 0
    left: 0
    border-radius: 12px
    z-index: 6
    width: 100%
    border: none
    display: none

.img-front video
    display: block

.display-none
    display: none !important

/*Figure element for embedding the image/video. after & before selectors for decoration*/
figure
    display: flex
    border-radius: 14px
    position: absolute
    transition: 1s ease-in-out
    cursor: pointer
    background-color: rgb(155, 187, 255)
    //outline: 2px solid #ddd
    &::after
        opacity: 0
        transition: 0.2s
        content: attr(data-title)
        position: absolute
        $distance: 6px
        bottom: calc(100% + 6px)
        left: 0
        font-size: 0.85rem
        font-weight: 300
        color: rgba(#fff, 0.8)
        z-index: 10

/*Images*/
.carouselImg
    width: 100%
    aspect-ratio: 128/72
    border-radius: 12px
    box-shadow: rgba(0, 0, 0, 0.75) 0px 60px 35px -40px
    transition: 0.5s

.carouselImg::selection
    background-color: none

$bigImage: 35vw
$gutter: 1.33vw
$paddingLR: 2.5vw
$nextImages: calc(($bigImage - ($gutter * 3) - ($paddingLR * 2)) / 4)

/*Front image*/
.img-front
    width: $bigImage //40vw
    right: 0
    bottom: calc(100% - $bigImage * 0.5625) //calc(13.5vw + $navHeight)
    z-index: 5
    transition: 1.1s
    &::after
        opacity: 1
        transition: 1s


/*Middle images -> are now just next and previous (last) image*/
.img-middle
    width: $nextImages //27vw
    bottom: 0
    z-index: 2

.img-middle::after
    opacity: 0
    font-size: 13px
    transition: 1s
    padding: 7px 0

/* .img-middle img
    opacity: 0.8 */

.img-middle-left
    right: calc($bigImage - $nextImages - $paddingLR) //12vw
    transition: 1.5s
    z-index: 4
    opacity: 0.9

.img-middle-right
    right: $paddingLR
    transition: 0.9s
    z-index: 3
    opacity: 0.45


/*Back images -> now "middle" images*/
.img-back
    width: $nextImages //13vw
    bottom: 0
    z-index: 0

.img-back-left
    right: calc((($nextImages + $gutter) * 2) + $paddingLR)
    transition: 1.25s
    z-index: 2
    opacity: 0.75

.img-back-right
    right: calc($nextImages + $gutter + $paddingLR)
    transition: 1.25s
    z-index: 1
    opacity: 0.6

@media screen and (max-width: 750px)
    .img-front
        width: 85vw
        left: 7.5vw
        //top: calc(69vw + $navHeight)
        top: 45%
        transform: translateZ(-3px)
        border: 3px solid white

    .img-front::after
        content: attr(data-title) ' ➜'
        position: absolute
        text-align: left
        padding: 6px 10px
        left: 50%
        bottom: 2px
        color: black
        transform: translateY(8px) translateX(-50%)
        width: 100%
        text-align: center
        transition: 0s
        border-radius: 12px
        background: white
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.45)

    .img-front:hover::before
        height: 0
        display: none

    .img-middle
        left: 15vw
        width: 70vw

    .img-middle::after
        opacity: 0
        width: 100%

    .img-back
        width: 50vw
        left: 24.5vw

    .img-back::after
        display: none

    .img-middle-left
        top: 40%
        transform: perspective(75em) rotateX(-25deg) translateZ(-30px)

    .img-middle-right
        top: 55%
        transform: perspective(75em) rotateX(25deg) translateZ(-30px)
        transition: 0.9s

    .img-back-left
        top: 38%
        transform: perspective(105em) rotateX(-40deg) translateZ(-70px)
        transition: 1.5s

    .img-back-right
        top: 63%
        transform: perspective(105em) rotateX(40deg) translateZ(-70px)
        transition: 1.5s

    .img-middle-left::after
        left: 50%
        transform: translateX(-50%)
        transition: 0s

    .img-middle-right::after
        left: 50%
        transform: translateX(-50%)
        transition: 0s
