@use 'globals'

.cookies
    display: flex
    flex-direction: column
    $margin: 13px
    position: fixed
    bottom: -600px
    z-index: 999
    right: $margin
    //outline: 2px dashed red
    background: #B58F63
    border-radius: globals.$borderMedium
    box-shadow: globals.$shadow2
    width: 400px
    max-width: calc(100vw - ($margin * 3))
    transition: right 0.2s, bottom 0.33s
    
    &.animIn
        bottom: $margin
    &.decided
        bottom: -600px
    .cookieHeader
        border-radius: globals.$borderMedium globals.$borderMedium 0 0
        background: #784421
        position: relative
        padding: 8px
        img
            width: 112px
            position: absolute
            left: -24px
            top: -22px
            filter: drop-shadow(globals.$shadow2)
            @keyframes cookieWobble
                from
                    rotate: -8deg
                to
                    rotate: 8deg
            animation: cookieWobble 3s infinite alternate
        h1
            color: #fff
            font-size: 1.33rem
            margin-left: 100px
            padding: 9px 0
            text-align: left
            line-height: 1.33rem
            text-shadow: globals.$shadow1

    .cookieExplain
        width: 100%
        color: #eee
        padding: 12px
        text-align: center

    .cookiesDetails
        width: calc(100% - 24px)
        margin: 0 12px
        padding: auto
        position: relative
        > p
            position: absolute
            font-size: 0.85rem
            right: 6px
            top: 0
            height: 100%
            @include globals.flexCenter
    .CDetailsList_wrapper
        position: relative
        .CDetailsList
            display: flex
            flex-direction: column
            gap: 13px
            text-align: left
            bottom: 100%
            left: 24px
            position: absolute
            width: calc(100% - 48px)
            padding: 12px
            background: #fff
            border-radius: globals.$borderMedium globals.$borderMedium 0 0
            box-shadow: 0 -4px 6px rgba(#000, 0.25) inset
            color: black
            //overflow: auto
            transition: 0.2s
            opacity: 0
            max-height: 85vh
            pointer-events: none
            &.open
                pointer-events: all
                opacity: 1
            ul
                display: flex
                flex-direction: column
                padding: 0 12px
                gap: 8px
            a:hover
                text-decoration: underline
            p.CListDisclaimer
                font-size: 0.75rem
                color: #555
                margin-top: 24px
    .cookiesDecisions
        margin: 12px
        display: flex
        gap: 6px
        button
            width: 100%