.demand-click-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - (var(--footerheight) + var(--navHeight) + var(--projbarHeight)));
    height: calc(100vh -50px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.125rem;
}

.sign{
    display: flex;
    gap: 20px;
    color: rgba(50, 48, 61, 0.75);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 15px;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.45);
    animation: jiggle 4s infinite;
    animation-delay: 0.5s;
}

@keyframes jiggle {
    0% {transform: translateY(0);}
    25% {transform: translateY(-75%);}
    50% {transform: translateY(0);}
}

@media screen and (max-width: 900px){
    .demand-click-container{
        top: 75%;
    }
}