/*Main container*/
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 47vw;
    background: none;
    padding-top: var(--navHeight);
}
.img-container figure{
    animation: divIn 1s; /*fade in the loaded carousel cards */
}


.greeting-container{
    align-self: center;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.greeting{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(38, 32, 72);
    background-color: rgba(255,255,255, 0.65);
    box-shadow: 0 0 10px rgba(0,0,0,0.33);
    padding: 15px 25px;
    border-radius: 16px;
}

.carousel-container .fetchError{
    min-width: 100%;
}

.projectLink{
    position: absolute;
    height: 22.5vw;
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    top: calc(13.5vw + var(--navHeight));
    z-index: 10;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.projectLink i{
    background-color: rgba(0,0,0,0.825);
    backdrop-filter: blur(12px);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
    border: 1px solid white;
    transition: 0.15s;
    opacity: 0;
}
.projectLink:hover i{
    border-radius: 12px;
    transition: 0.25s;
    padding: 30px;
    opacity: 1;
}
/*
.projectLink::after{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: 'Open';
    background-color: rgba(255,255,255,0.65);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(7px);
    color: black;
    font-size: 1.25rem;
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
    transition: 0.1s;
}
.projectLink:hover::after{
    width: 5vw;
    height: 5vw;
    opacity: 1;
    transition: 0.15s;
}*/


/*Settings*/
.slider-label{
    cursor: pointer;
}
.carouSet-btn{
    font-size: 1.125rem;
    padding: 0.25vw 1vw;
    border: none;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: 0.15s;
    z-index: 15;
    opacity: 0.65;
    box-shadow: var(--btnShadowSmall);
}
.settings-active{
    border-radius: 0 0 8px 8px;
    opacity: 1;
    border-top: 1px solid grey;
}
.carouSet-btn:hover .fa-solid.fa-gear{
    animation: rotateFull 4s linear infinite;
    transition: 0.5s;
}
.carouSet-btn:hover {
    opacity: 1;
    transition: 0.2s;
}
.setbtn-container{
    width: 40vw;
    height: 25.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.setbtn-container .settings-form{
    display: none;
    align-items: flex-start;
    justify-content: space-between;
    gap: 35px;
    z-index: 200;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px 8px 8px 0;
    box-shadow: 5px -5px 15px -5px rgba(0, 0, 0, 0.45);
    animation: rollBottom 0.2s;
}
@keyframes rollBottom {
    0% {
      opacity: 0;
      transform: translateY(3vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.showSettings{
    display: flex !important;
}
input{
    justify-self: flex-end;
}
label{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}
.form-slider{
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: none;
}
@keyframes rotateFull {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg)}
}


/*if carousel is not active*/
.blackwhite{
    filter: grayscale(100%);
}


/*Headings*/
.introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2vw;
    align-items: center;
    height: 13.5vw;
    width: 100%;
    background-image: url("./backgrounds/wave-haikei.png");
    background-size: 200%;
    background-position-y: 13.5vw;
    animation: wave 60s infinite linear;
    pointer-events: none;
}
@keyframes wave {
    from {background-position-x: 0}
    to {background-position-x: 200%;}
}
.introduction::before{
    position: absolute;
    content: '';
    width: 100%;
    height: var(--navHeight);
    background-color: #324157;
    top: 0;
}
/*Second Wave*/
.introduction::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 7vw;
    top: 8.5vw;
    background-image: url("./backgrounds/wave-haikei.png");
    background-size: 160%;
    background-position-y: 7vw;
    animation: wave2 37s infinite linear reverse;
    z-index: -1;
}
@keyframes wave2 {
    from {background-position-x: 0}
    to {background-position-x: 265%;}
}

h1.title {
    font-size: 3.5rem;
    text-align: center;
    color: rgb(230, 230, 255);
    text-shadow: 0 0 10px rgba(255,255,255, 0.15);
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}
h2.describtion {
    font-size: 1.3rem;
    padding: 10px 0px;
    font-weight: normal;
    text-align: center;
    color: rgb(168, 168, 233);
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}


/*Video*/
.img-container video{
    position: inherit;
    top: 0;
    left: 0;
    border-radius: 12px;
    z-index: 6;
    width: 100%;
    border: none;
    display: none;
}
.img-container .img-front video{
    display: block;
}
.display-none{
    display: none !important;
}


/*Figure element for embedding the image/video. after & before selectors for decoration*/
figure {
    display: flex;
    border-radius: 12px;
    position: absolute;
    transition: 1s ease-in-out;
    cursor: pointer;
    background-color: rgb(155, 187, 255);
}
figure::after {
    content: attr(data-title);
    position: absolute;
    bottom: 0;
    background: rgba(120,120,120,0.4);
    padding: 10px 30px;
    border-radius: 1000px;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 1px solid rgba(222, 222, 222, 0.5);
    box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.25);
    z-index: 10;
    backdrop-filter: blur(6px);
}


/*Images*/
.img-container img{
    width: 100%;
    aspect-ratio: 128/72;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 60px 35px -40px;
    transition: 0.5s;
}
img::selection {
    background-color: none;
}


/*Front image*/
.img-front {
    width: 40vw;
    left: 50%;
    transform: translateX(-50%);
    top: calc(13.5vw + var(--navHeight));
    z-index: 5;
    transition: 1.1s;
}
.img-front::after {
    left: 50%;
    transform: 
        translateX(-50%)
        translateY(calc(50% - 4px));
    min-width: 1%;
    transition: 1s;
}


/*Middle images*/
.img-middle{
    width: 27vw;
    top: calc(18.5vw + var(--navHeight));
    z-index: 2;
}
.img-middle::after {
    font-size: 13px;
    transition: 1s;
    padding: 7px 0;
}
.img-middle img{
    opacity: 0.8;
}
.img-middle-left {
    left: 12vw;
    transform: 
        perspective(75em)
        rotateY(25deg)
        rotateX(2deg);
    transition: 1.5s;
    z-index: 4;
}
.img-middle-left::after {
    left: 15px;
    transform: 
        translateY(calc(50% - 6px));
    max-width: 10vw;
    min-width: 13.75vw;
    max-width: 14.75vw;
    transition: 1s;
}
.img-middle-right {
    left: 60vw;
    transform: 
        perspective(75em)
        rotateY(-25deg)
        rotateX(2deg);
    transition: 0.9s;
    z-index: 3;
}
.img-middle-right::after {
    left: 100%;
    transform: 
        translateX(calc(-100% - 15px))
        translateY(calc(50% - 4px));
    max-width: 10vw;
    min-width: 12.75vw;
    max-width: 13.75vw;
    transition: 1s;
}


/*Back images*/
.img-back {
    width: 13vw;
    top: calc(24.5vw + var(--navHeight));
    z-index: 0;
}
.img-back img{
    opacity: 0.5;
}
.img-back::after {
    font-size: 10px;
    padding: 4px 0;
    transition: 1s;
}
.img-back-left{
    left: 1.5vw;
    transform: 
        perspective(105em)
        rotateY(40deg)
        rotateX(5deg);
    transition: 1.25s;
    z-index: 2;
}
.img-back-left::after {
    left: 15px;
    transform: 
        translateY(calc(50% - 4px));
    max-width: 150px;
    min-width: 7vw;
    max-width: 7.5vw;
    transition: 1s;
}
.img-back-right{
    left: 83.5vw;
    transform: 
        perspective(105em)
        rotateY(-40deg)
        rotateX(5deg);
    transition: 1.25s;
    z-index: 1;
}
.img-back-right::after {
    left: 100%;
    transform: 
        translateX(calc(-100% - 15px))
        translateY(calc(50% - 4px));
    max-width: 150px;
    min-width: 6vw;
    max-width: 6.5vw;
    transition: 1s;
}



/*          Screen adjust           */
@media screen and (max-width: 750px) {
    .projectLink{
        width: 85vw;
        height: 50vw;
        left: 7.5vw;
        top: calc(69vw + var(--navHeight));
        transform: translateZ(-3px);
        border-radius: 16px;
    }
    .projectLink:hover{
        opacity: 0;
    }

    .setbtn-container{
        /*display: none;*/
        height: 100%;
        width: var(--mobileInnerWidth);
    }
    .carouSet-btn{
        padding: 8px 10px;
        margin-bottom: 55px;
    }
    .introduction {
        padding-top: 4vw;
        gap: 8px;
        --height: 55vw;
        height: var(--height);
        background-image: url("./backgrounds/wave-haikei-mobile.png");
        background-size: 400%;
        background-position-y: 42vw;
        animation-name: wavesMobile;
        animation-duration: 100s;
    }
    @keyframes wavesMobile {
        from {background-position-x: 0}
        to {background-position-x: 400%;}
    }
    /*Second Wave*/
    .introduction::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 20vw;
        top: 35vw;
        background-image: url("./backgrounds/wave-haikei-mobile.png");
        background-size: 300%;
        background-position-y: 20vw;
        animation-name: wave2Mobile;
        animation-duration: 67s;
        z-index: -1;
    }
    @keyframes wave2Mobile {
        from {background-position-x: 0}
        to {background-position-x: 300%;}
    }
    h1.title {
        font-size: 2.75rem;
        text-transform: capitalize;
    }

    h2.describtion {
        font-size: 0.9rem;
        text-align: center;
        padding: 0 10px;
    }

    .carousel-container img,
    .img-container .img-front video{
        border: 4px solid white;
    }

    .carousel-container img:hover {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 40px 20px -20px;
        border: 2px solid white;
    }
    .carousel-container {
        height: 170vw;
    }
    
    .img-front {
        width: 85vw;
        left: 7.5vw;
        top: calc(69vw + var(--navHeight));
        transform: translateZ(-3px);
    }
    .img-front img:hover {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 40px 20px -20px;
        border: 5px solid white;
    }
    .img-front::after {
        content: attr(data-title) ' 🔗';
        position: absolute;
        text-align: left;
        padding: 6px 10px;
        left: 50%;
        bottom: 2px;
        color: black;
        transform:
            translateY(-4px),
            translateX(-50%);
        width: 100%;
        text-align: center;
        transition: 0s;
        border-radius: 12px;
        background: white;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.45);
    }

    .img-front:hover::before{
        height: 0;
        display: none;
    }
    
    .img-middle{
        left: 15vw;
        width: 70vw;
    }

    .img-middle::after {
        opacity: 0;
        width: 100%;
    }
    
    .img-back {
        width: 50vw;
        left: 24.5vw;
    }

    .img-back::after {
        display: none;
    }
    
    .img-middle-left {
        top: calc(53.5vw + var(--navHeight));
        transform: 
            perspective(75em)
            rotateX(-25deg)
            translateZ(-30px);
    }
    
    .img-middle-right {
        top: calc(90vw + var(--navHeight));
        transform: 
            perspective(75em)
            rotateX(25deg)
            translateZ(-30px);
        transition: 0.9s;
    }
    
    .img-back-left{
        top: calc(48vw + var(--navHeight));
        transform: 
            perspective(105em)
            rotateX(-40deg)
            translateZ(-70px);
        transition: 1.5s;
    }
    
    .img-back-right{
        top: calc(108vw + var(--navHeight));
        transform: 
            perspective(105em)
            rotateX(40deg)
            translateZ(-70px);
        transition: 1.5s;
    }

    .img-middle-left::after {
        left: 50%;
        transform: 
            translateX(-50%);
        transition: 0s;
    }

    .img-middle-right::after {
        left: 50%;
        transform: 
            translateX(-50%);
        transition: 0s;
    }
}