@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*Main container*/
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(42vw - 75px);
  background: none;
}

/*.img-container figure
 * animation: divIn 1s /*fade in the loaded carousel cards */
.greeting-container {
  align-self: center;
  display: flex;
  align-items: center;
  flex-grow: 1;
  pointer-events: all;
}

.greeting {
  font-size: 2rem;
  color: rgb(38, 32, 72);
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  padding: 15px 25px;
  border-radius: 16px;
}

.carousel-container .fetchError {
  min-width: 100%;
}

.projectLink {
  position: absolute;
  height: 20vw;
  width: 35vw;
  right: 0;
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.projectLink i {
  background-color: #151515;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
  transition: 0.15s;
  opacity: 0;
}
.projectLink:hover i {
  transition: 0.25s;
  padding: 30px;
  opacity: 1;
  shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

/*Settings*/
.slider-label {
  cursor: pointer;
}
.slider-label p {
  pointer-events: none;
}

.carouSet-btn {
  font-size: 1.125rem;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: 0.15s;
  z-index: 15;
  pointer-events: all;
  margin-left: 6px;
}
.carouSet-btn i {
  color: #151515;
  transition: 0.5s;
  pointer-events: none;
}

.settings-active {
  border-radius: 12px 12px 0 0;
  opacity: 1;
  background: white;
}
.settings-active i {
  color: black;
}
.settings-active .fa-solid.fa-gear {
  rotate: 180deg;
  transition: 0.5s;
}

.carouSet-btn:hover {
  opacity: 1;
  transition: 0.2s;
}

.setbtn-container {
  position: relative;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  z-index: 200;
  pointer-events: none;
  width: 100%;
  transition: 0.25s;
}
.setbtn-container .progress-container {
  margin: 0 6px;
  height: 0;
  opacity: 0;
  margin-top: 26px;
  transition: 0.2s;
}
.setbtn-container .progress-container.active {
  margin-top: 0;
  height: 26px;
  opacity: 1;
}
.setbtn-container .progress-container svg.progressAnim {
  display: flex;
  align-items: center;
  justify-content: center;
}
.setbtn-container .progress-container svg.progressAnim circle.track {
  fill: none;
  stroke: rgba(255, 255, 255, 0.25);
}
.setbtn-container .progress-container svg.progressAnim circle.progress {
  fill: none;
  stroke: rgba(255, 255, 255, 0.9);
  stroke-linecap: round;
  stroke-dasharray: 1px, 200px;
  stroke-dashoffset: -60px;
}
.setbtn-container .progress-container svg.progressAnim circle.progress.anim {
  animation: progressAnim 3s linear;
}
@keyframes progressAnim {
  100% {
    stroke-dasharray: 75px, 200px;
    stroke-dashoffset: -4px;
  }
}
.setbtn-container h3 {
  font-weight: normal;
  font-size: 0.8rem;
  margin-right: auto;
  margin-top: auto;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: 0.2s;
}
.setbtn-container .fa-video-slash,
.setbtn-container .fa-stop {
  color: white;
  opacity: 0.75;
  font-size: 1.25rem;
  transition: 0.2s;
}
.setbtn-container i.vidIco {
  width: 0;
  opacity: 0;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}
.setbtn-container i.vidIco.active {
  width: 22px;
  opacity: 1;
  margin: 0 6px;
}

.setbtn-container .settings-form {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  align-items: flex-start;
  justify-content: space-between;
  gap: 35px;
  z-index: 200;
  background-color: white;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px 0 8px 8px;
  box-shadow: -5px 5px 15px -5px rgba(0, 0, 0, 0.45);
  pointer-events: all;
}
.setbtn-container .settings-form label {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}

.showSettings {
  display: flex !important;
}

input {
  justify-self: flex-end;
}

.form-slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: none;
}

@keyframes rotateFull {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*if carousel is not active*/
.blackwhite {
  filter: grayscale(100%);
}

@keyframes wave2 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 265%;
  }
}
@keyframes waving {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}
/*Headings*/
.introduction {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 8vw;
  width: 100%;
  background-image: url("./backgrounds/wave-haikei.png");
  background-repeat: repeat-x;
  background-size: 200%;
  background-position-y: -62vw;
  animation: waving 50s linear infinite;
  pointer-events: none;
  z-index: 10;
  transition: 0.25s;
}
.introduction.active {
  opacity: 1;
}
.introduction::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 7vw;
  top: 0;
  background-image: url("./backgrounds/wave-haikei.png");
  background-size: 160%;
  background-position-y: 7vw;
  animation: wave2 37s infinite linear reverse;
  z-index: -1;
}
.introduction::before {
  position: absolute;
  content: "";
  bottom: 100%;
  width: 100%;
  height: 75px;
  background: #203e69;
}

.hero-main {
  display: flex;
  justify-content: space-between;
  height: 57vh;
  width: calc(100% - 30vw);
  z-index: 100;
  margin: auto;
}
.hero-main.intro .presentation {
  cursor: pointer;
  width: 50%;
  margin-left: 25%;
  transition: 0.2s;
}
.hero-main.intro .presentation h1 {
  font-size: 3.5rem !important;
}
.hero-main.intro .presentation h2 {
  font-size: 2rem !important;
  animation-delay: 1.5s;
  animation: rollTop 1s;
}
.hero-main.intro .presentation .friendlyWave {
  right: 104.5%;
  top: 10px;
}
.hero-main.intro .presentation .friendlyWave img {
  width: 70px !important;
}
.hero-main.intro .presentation .presBtns button {
  transform: translateX(120px) !important;
  opacity: 0 !important;
  pointer-events: none !important;
}
.hero-main.intro .project-previews {
  width: 0 !important;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}
.hero-main .presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 5px;
  margin-left: 0;
  width: 25vw;
  min-width: 250px;
  color: white;
  transition: 0.2s;
}
.hero-main .presentation .friendlyWave {
  position: absolute;
  right: 103.5%;
  bottom: -25%;
  cursor: pointer;
  transition: 0.2s;
}
@keyframes handWave {
  0% {
    rotate: -45deg;
  }
  50% {
    rotate: 45deg;
  }
  100% {
    rotate: -45deg;
  }
}
.hero-main .presentation .friendlyWave.active {
  animation: handWave 1.75s infinite;
}
.hero-main .presentation .friendlyWave:not(.active) .hand {
  opacity: 0;
  animation: waveGoodbye 2s forwards;
}
@keyframes waveGoodbye {
  33% {
    opacity: 0;
    rotate: -45deg;
  }
  40% {
    opacity: 1;
  }
  66% {
    rotate: 45deg;
  }
  80% {
    opacity: 1;
  }
  100% {
    rotate: -45deg;
    opacity: 0;
    rotate: 0;
  }
}
.hero-main .presentation .friendlyWave img {
  width: 40px;
  transform: translate(10%, -25%);
}
.hero-main .presentation .friendlyWave .thumb {
  animation: thumbOk 0.66s forwards;
  position: absolute;
  left: 0;
}
@keyframes thumbOk {
  0% {
    translate: 0;
  }
  45% {
    translate: 0 -2.5vh;
  }
  90% {
    translate: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hero-main .presentation .presText h1 {
  font-size: 2.5rem;
  transition: 0.2s;
  position: relative;
}
.hero-main .presentation .presText h2 {
  font-weight: normal;
  font-size: 1.25rem;
  transition: 0.2s;
}
.hero-main .presentation .presText .presBtns {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}
.hero-main .presentation .presText .presBtns button {
  pointer-events: all;
  opacity: 1;
  transform: none;
}
.hero-main .presentation .scrollHint {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}
.hero-main .presentation .scrollHint.active {
  opacity: 1;
  pointer-events: all;
}
.hero-main .presentation .scrollHint .scrollHint-Wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.hero-main .presentation .scrollHint .scrollHint-Wrapper .fa-computer-mouse {
  font-size: 2rem;
  animation: mouseHint 2s infinite;
}
@keyframes mouseHint {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(0, 2rem);
  }
  75% {
    transform: translate(0, 0);
  }
}
.hero-main .presentation .scrollHint .scrollHint-Wrapper .fa-arrow-down {
  font-size: 1.5rem;
  animation: arrowHint 2s infinite;
}
@keyframes arrowHint {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
.hero-main .project-previews {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  width: 35vw;
  opacity: 1;
  transition: 0.2s;
}
.hero-main .project-previews .img-container {
  position: relative;
  height: 100%;
  width: 40vw;
}
.hero-main .project-previews:hover h3 {
  opacity: 1;
}
.hero-main .project-previews:hover .setbtn-container {
  opacity: 1;
}

.title {
  position: relative;
  font-size: 3.5rem;
  color: rgb(230, 230, 255);
  color: transparent;
  background-image: linear-gradient(45deg, #ff90d8, rgb(54, 235, 255));
  background-size: 400%;
  animation: titleAnim 5s infinite alternate;
  background-clip: text;
  background-color: rgba(32, 62, 105, 0.5);
  border-radius: 8px;
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif*/
}
.title::after {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-title);
  background-image: linear-gradient(45deg, #ff7ace, rgb(138, 243, 255));
  background-size: 400%;
  animation: titleAnim 5s infinite alternate;
  background-clip: text;
  filter: blur(8px);
  z-index: 10;
  width: 100%;
}

@keyframes titleAnim {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}
h2.describtion {
  position: relative;
  font-size: 1.3rem;
  white-space: 0rem;
  font-weight: normal;
  text-align: center;
  color: red;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif*/
  z-index: 10;
  -webkit-text-stroke: 4px #203e69;
}
h2.describtion::before {
  -webkit-text-stroke-width: 0;
  z-index: 0;
  content: attr(data-shadow);
  position: absolute;
  font-weight: 100;
  font-size: 1.3rem;
  top: 0;
  left: 0;
  color: rgb(168, 168, 233);
}

/*Video*/
.img-container video {
  position: inherit;
  top: 0;
  left: 0;
  border-radius: 12px;
  z-index: 10;
  width: 100%;
  height: 100%;
  border: none;
  display: none;
}

.img-container .img-front video {
  display: block;
}

.display-none {
  display: none !important;
}

/*Figure element for embedding the image/video. after & before selectors for decoration*/
figure {
  display: flex;
  border-radius: 12px;
  position: absolute;
  transition: 1s ease-in-out;
  cursor: pointer;
  background-color: rgb(155, 187, 255);
  z-index: 20;
}

/*Images*/
.img-container img {
  width: 100%;
  aspect-ratio: 128/72;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 60px 35px -40px;
  transition: 0.5s;
}

img::selection {
  background-color: none;
}

/*Front image*/
/* .img-front
 *  width: 30vw
 *  left: 50%
 *  transform: translateX(-50%)
 *  top: calc(13.5vw + globals.$navHeight)
 *  z-index: 5
 *  transition: 1.1s*/
/* .img-front::after
 *  left: 50%
 *  transform: translateX(-50%) translateY(calc(50% - 4px))
 *  min-width: 1%
 *  transition: 1s  */
/*          Screen adjust           */
@media screen and (max-width: 800px) {
  .carouSet-btn:hover .fa-solid.fa-gear {
    animation: none;
  }
  .carouSet-btn:active .fa-solid.fa-gear {
    rotate: 270deg;
  }
  .projectLink {
    width: 85vw;
    height: 50vw;
    left: 7.5vw;
    top: calc(69vw + 65px);
    transform: translateZ(-3px);
    border-radius: 16px;
  }
  .projectLink:hover {
    opacity: 0;
  }
  .setbtn-container {
    /*display: none*/
    height: 100%;
    width: 90vw;
    background-color: red;
    width: 0;
    align-self: flex-start;
    margin-left: 5vw;
    transform: translateZ(15px);
  }
  .carouSet-btn {
    padding: 8px 10px;
    margin-bottom: 20px;
  }
  .settings-form {
    width: 75vw;
    font-size: 1.125rem;
  }
  .settings-form input[type=checkbox] {
    width: 20px;
  }
  .introduction {
    gap: 8px;
    padding: 0;
    height: calc(var(--initialHeight) / 3);
    background-image: url("./backgrounds/wave-haikei-mobile.png");
    background-size: 400%;
    background-position-y: calc(var(--initialHeight) * -0.6);
    animation-name: wavesMobile;
    animation-duration: 100s;
    z-index: 4;
  }
  .introduction::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50vh;
    top: 0;
    background-image: url("./backgrounds/wave-haikei-mobile.png");
    background-size: 300%;
    background-position-y: calc(var(--initialHeight) * -0.28);
    background-repeat: repeat-x;
    animation-name: wave2Mobile;
    animation-duration: 67s;
    z-index: -1;
  }
  .introduction h1.title {
    padding: 0;
    font-size: 2.4rem;
  }
  .introduction h1.title::after {
    top: 0;
    left: 0;
  }
  @keyframes wavesMobile {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 400%;
    }
  }
  /*Second Wave*/
  @keyframes wave2Mobile {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 300%;
    }
  }
  h2.describtion {
    font-size: 0.9rem;
    text-align: center;
    padding: 0 10px;
  }
  h2.describtion::before {
    font-size: 0.9rem;
  }
  .carousel-container img:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 40px 20px -20px;
  }
  .carousel-container {
    height: 150vw;
    height: calc(var(--initialHeight) - 65px - 20px - 50px);
  }
  .carousel-container::before {
    height: 5vw;
  }
}
.img-containerF {
  z-index: 20;
}