@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollIn {
  0% {
    transform: translateX(-10vw);
  }
  30% {
    transform: translateX(0);
    font-size: 1.5rem;
  }
  40% {
    font-size: 2.25rem;
  }
  70% {
    transform: translateX(0);
    font-size: 1.5rem;
  }
  100% {
    transform: translateX(5vw);
  }
}
.fa-solid.fa-check {
  display: none;
  font-size: 1.5rem;
  color: rgb(68, 255, 93);
  animation: rollIn 1.75s infinite;
}

.input-required {
  color: rgba(255, 83, 35, 0.75);
  font-size: 1.2125rem;
}

.contact-container {
  min-height: calc(100vh - 65px - 10px);
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
}

.contact-container .main-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  text-align: left;
  width: 45vw;
  font-size: 1.125rem;
  padding: 30px 58px;
  border-radius: 32px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.contact-container textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  max-width: 100%;
  min-width: 100%;
  max-height: 50vh;
  min-height: 10rem;
  border-radius: 32px;
  resize: none;
  border: none;
  color: #eee;
  padding: 16px;
  background-color: #31a6ff;
  position: relative;
}

.contact-container input {
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
  font-size: 1rem;
  width: 90%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.contact-container label {
  width: 100%;
  color: rgb(96, 95, 105);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  font-size: 1rem;
  padding: 5px;
}
.contact-container .message {
  margin-top: 1.5vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
  position: relative;
}
.contact-container .message::after {
  position: absolute;
  content: "";
  top: calc(100% - 5px);
  right: 34px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #31a6ff;
}
.contact-container .message .charInfo {
  position: absolute;
  bottom: 5px;
  right: 28px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #eee;
  background: #31a6ff;
  padding: 3px;
  border-radius: 500px;
}
.contact-container .message .charInfo span.tooLong {
  color: red;
  font-weight: bold !important;
}

.contact-container button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 31px;
  margin-top: 6px;
  box-shadow: var(--btnShadow);
  transition: 0.1s;
  overflow: hidden;
}
.contact-container button.inactive {
  opacity: 0.4;
}
.contact-container button i.fa-paper-plane {
  transition: opacity 0.125s;
}
.contact-container button.loading {
  background: #0064b1;
  pointer-events: none;
}
.contact-container button.loading i {
  opacity: 0;
}
.contact-container button.error {
  animation: btnError 1s;
}
@keyframes btnError {
  from {
    background: red;
  }
  to {
    background: black;
  }
}
.contact-container button.done {
  animation: btnDone 2s;
}
@keyframes btnDone {
  from {
    background: green;
  }
  to {
    background: black;
  }
}

.submit-send {
  padding-right: 3px;
  padding-bottom: 2px;
  display: flex;
  gap: 7px;
  align-items: center;
  animation: none;
}

.contact-container button:hover {
  background-color: rgb(73, 72, 82);
  transition: 0.2s;
}

.contact-container h1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 22px 0;
  width: 100%;
  border-radius: 32px;
  border: 2px solid white;
  color: white;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2), 0 0 12px rgba(0, 0, 0, 0.2) inset;
}

.load {
  display: none;
  width: 1.75rem;
  animation: spin 1s steps(16, end) infinite;
}

@media screen and (max-width: 900px) {
  .contact-container {
    padding-top: 5vw;
    padding-bottom: 15vw;
  }
  .contact-container .main-element {
    width: calc(100% - 20px);
    padding: 10px;
    align-items: center;
  }
  .contact-container form {
    width: 100%;
  }
  .contact-container button {
    min-height: 5vh;
    width: 45%;
  }
  .contact-container input,
  .contact-container textarea {
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 1.125rem;
    border-radius: 32px;
    box-shadow: 0 0 8px -5px black inset;
  }
  .contact-container textarea {
    border-bottom-right-radius: 0;
    position: relative;
  }
  .contact-container label {
    flex-direction: column;
  }
  .contact-container .message {
    align-items: center;
  }
  .contact-container h1 {
    margin: 5vh 0;
    font-size: 1.75rem;
  }
  .load {
    width: 2.25rem;
  }
}