@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.warn-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex-direction: column;
}
.warn-container i.fa-triangle-exclamation {
  color: rgb(255, 103, 79);
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.warn-container h4 {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.warn-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 1rem;
}
.warn-container .time-display {
  margin-top: 12px;
  border: 1px solid white;
  border-radius: 16px;
  padding: 6px 12px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}