@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.loadingWheel {
  animation: spin 1s steps(16, end) infinite;
  width: 60px;
  position: absolute;
  z-index: 999;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  scale: 0.5;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

svg.loadAnim {
  pointer-events: none;
  fill: none;
  position: absolute;
  transform-origin: center;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  animation: svgAnim 2s linear infinite;
  z-index: 999;
}
@keyframes svgAnim {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
svg.loadAnim circle {
  stroke-dasharray: 1px, 200px;
  stroke-dashoffset: 0;
  stroke: url(#loadGradient);
  stroke-linecap: round;
  animation: circleAnim 3s infinite linear;
}
@keyframes circleAnim {
  0% {
    stroke-dasharray: 1px, 200px;
  }
  50% {
    stroke-dasharray: 125px, 200px;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
svg.loadAnim.bg {
  background: white;
  border-radius: 50%;
  border: 2px solid #dedede;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}