@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.noteContainer {
  opacity: 0;
  transition: 0.33s;
  transform: translateY(-100px);
  max-width: 100%;
}
.noteContainer.onScreen {
  opacity: 1;
  transform: unset;
}

.overviewWrapper {
  z-index: 10;
  position: relative;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 65px;
  align-items: center;
  padding: 15px;
  margin-top: 100px;
  padding-top: 75px;
  padding-bottom: 200px;
}
@media screen and (max-width: 800px) {
  .overviewWrapper {
    gap: 50px;
  }
}
.overviewWrapper::after {
  content: "";
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: -16px;
  background-color: #fff;
}
@media screen and (min-width: 800px) {
  .overviewWrapper .note {
    position: relative;
    display: flex;
    background-color: #fef46e;
    border-radius: 12px;
    box-shadow: 2px 0 0 #ddd23d, 0 2px 0 #a1992c, 0 20px 10px -5px rgba(0, 0, 0, 0.2), 35px 30px 25px -30px rgba(0, 0, 0, 0.2), -35px 30px 25px -30px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-top: 58px;
  }
  .overviewWrapper .note::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.04) 95%, transparent);
  }
}

.spikyDivider {
  position: absolute;
  width: 100%;
  margin: 0;
  bottom: 100%;
  overflow: hidden;
  left: 0;
}

.spikyDivider img {
  width: 110%;
  display: block;
}

@keyframes wave {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}
.overviewWrapper h1 {
  text-align: center;
  min-width: 100px;
}

@media screen and (min-width: 800px) {
  .overviewWrapper section {
    display: flex;
    gap: 20px;
    width: 65vw;
    min-width: 750px;
  }
}
@media screen and (max-width: 800px) {
  .overviewWrapper section {
    position: relative;
    display: flex;
    background-color: #fef46e;
    border-radius: 12px;
    box-shadow: 2px 0 0 #ddd23d, 0 2px 0 #a1992c, 0 20px 10px -5px rgba(0, 0, 0, 0.2), 35px 30px 25px -30px rgba(0, 0, 0, 0.2), -35px 30px 25px -30px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-top: 58px;
    justify-content: space-between;
  }
  .overviewWrapper section::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.04) 95%, transparent);
  }
}

.overviewWrapper section.mirrored {
  flex-direction: row-reverse;
}

.overviewSecContent {
  flex-direction: column;
  padding: 50px;
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 38%;
}
@media screen and (min-width: 800px) {
  .overviewSecContent {
    min-width: 500px;
  }
}
@media screen and (max-width: 800px) {
  .overviewSecContent {
    width: 100%;
  }
}

.overviewSecTitle {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
}
.overviewSecTitle h1 {
  background-size: 50%;
  padding: 2px 5px;
  z-index: 10;
}
.overviewSecTitle img {
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 0;
  z-index: -1;
  pointer-events: none;
  width: 105%;
  min-width: 100px;
  height: 130%;
  opacity: 0.75;
}

.overviewWrapper .zoomimage-container,
.overviewWrapper img.zoomimage {
  width: 25vw;
}
@media screen and (max-width: 800px) {
  .overviewWrapper .zoomimage-container,
  .overviewWrapper img.zoomimage {
    width: 100%;
  }
}

.overviewSecTitle button {
  font-weight: bold;
  padding: 5px 10px;
  background-color: black;
  color: #eee;
}

@media screen and (max-width: 800px) {
  .overviewWrapper section,
  .overviewWrapper section.mirrored {
    flex-direction: column;
    width: var(--mobileInnerWidth);
  }
  .overviewWrapper::before {
    top: -70px;
    background-image: url(./backgrounds/spiky-haikei-mobile.png);
  }
  .spikyDivider img {
    width: 200%;
    transform: translateY(2px) translateX(-15px);
  }
  .noteContainer .note {
    rotate: 0deg !important;
  }
}