@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.thumbnailWrapper {
  position: relative;
  height: auto;
  width: 100%;
  overflow: visible;
  display: flex;
  align-items: center;
}
.thumbnailWrapper .fa-solid.fa-wrench {
  position: absolute;
  z-index: 10;
  font-size: 0.85rem;
  right: 0;
  bottom: 0;
  transform: translate(25%, 25%);
  padding: 4px;
  border: 2px solid black;
  display: none;
}

.thumbnail-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  height: 50px;
  flex-grow: 1;
  overflow: hidden;
  z-index: 2;
  transition: 0.1s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 800px) {
  .thumbnail-container {
    width: 50px;
    height: 50px;
  }
  .thumbnail-container:hover {
    outline: 2px solid #31a6ff;
    transition: 0.1s;
  }
}
.thumbnail-container.small {
  min-width: 130px;
  height: 70px;
  border-radius: 8px;
}
.thumbnail-container.small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail-container.small:hover {
  border: 2px solid white;
}
.thumbnail-container.small .project-title {
  display: none;
}
.thumbnail-container.small.active {
  box-shadow: none;
}
.thumbnail-container.active {
  border: 2px solid #31a6ff;
  box-shadow: 0 0 10px #31a6ff;
}
.thumbnail-container img {
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.75;
  transition: 0.15s;
  opacity: 1;
}
@media screen and (max-width: 800px) {
  .thumbnail-container.active {
    border-width: 4px;
  }
  .thumbnail-container.active img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
}

.project-title {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
  z-index: 100;
  color: white;
  width: 100px;
  text-align: center;
  display: none;
  opacity: 0.75;
}

.thumbnail-container.small img {
  filter: none;
  opacity: 1;
}