@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideLeftMobile {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes blink {
  0% {
    border-right: 2px solid transparent;
  }
  10% {
    border-right: 2px solid white;
  }
  100% {
    border-right: 2px solid transparent;
  }
}
.project-bar {
  position: absolute;
  display: flex;
  align-items: center;
  top: -20px;
  left: -15vw;
  max-height: 100vh;
  margin-top: 10px;
  transition: 0.2s;
  z-index: 50;
  border-right: 2px dashed transparent;
}
.project-bar.closed {
  transform: translateX(calc(-100% + 40px));
}
.project-bar .expandBtn {
  padding: 10px 0;
  width: 40px;
  border-radius: 0 8px 8px 0;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.project-bar .expandBtn p {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  letter-spacing: 0.5px;
  font-size: 0.7rem;
  rotate: 180deg;
  color: #333;
  transition: 0.2s;
  width: 12px;
}
.project-bar .expandBtn p.invis {
  width: 0;
  opacity: 0;
}
.project-bar .expandBtn i {
  padding: 3px;
  transition: 0.15s;
}
.project-bar .expandBtn i.open {
  rotate: 180deg;
}
.project-bar.zero-height {
  height: 0px;
  padding: 0;
  opacity: 0;
  margin-bottom: 75px;
  transition: 0.2s;
  background: rgba(31, 16, 149, 0.35);
}
@media screen and (min-width: 800px) {
  .project-bar:hover {
    background-position-x: 0;
  }
  .project-bar:hover .thumbnail-container {
    aspect-ratio: 1/1;
  }
}

.item-container {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, auto);
  gap: 26px;
  padding: 10px;
  transition: 0.2s all;
  border-radius: 16px;
  height: fit-content;
  max-height: 80vh;
  min-height: 64px;
  margin-left: 16px;
}
.item-container a {
  max-width: 50px;
  max-height: 50px;
}
.item-container.zero-height {
  transition: 1.2s;
  opacity: 0;
  display: none;
}
@media screen and (max-width: 800px) {
  .item-container {
    flex-direction: row;
    height: 100%;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    gap: 3px;
    background-color: rgba(85, 81, 97, 0.65);
  }
}

@media screen and (max-width: 900px) {
  .item-container a {
    border: none;
  }
}
@media screen and (max-width: 800px) {
  .project-bar {
    height: calc(100dvh - 65px - 30px);
    top: 75px;
    margin: 0;
    left: 0;
  }
  .project-bar.closed {
    left: -18px;
  }
  .project-bar.closed .expandBtn {
    background: #fff;
  }
  .project-bar.closed .expandBtn i {
    font-size: 1rem;
  }
  .project-bar.closed .item-container {
    box-shadow: none;
  }
  .project-bar .item-container {
    grid-template-rows: repeat(6, auto);
    padding: 10px;
    gap: 12px;
    margin-left: 0;
  }
  .project-bar .expandBtn {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    width: 30px;
    color: #333;
    background: rgb(255, 103, 79);
  }
  .project-bar .expandBtn i {
    padding: 0;
    font-size: 1.5rem;
  }
}