@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.calculator-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  width: 100%;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  min-height: calc(100vh - var(--footerheight) - var(--navHeight));
}
@media screen and (max-width: 800px) {
  .calculator-container {
    margin-top: 65px;
  }
}
.calculator-container .contents-side {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  position: fixed;
  border-radius: 16px;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) translateX(125%);
  transition: transform 0.25s;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.calculator-container .contents-side.active {
  transform: translateY(-50%) translateX(0);
}
.calculator-container .contents-side h1 {
  font-weight: bold;
  color: #555;
  font-size: 1.125rem;
  width: 100%;
  text-align: center;
  color: #333;
}
.calculator-container .contents-side .contentLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.calculator-container .contents-side .contentLinks a {
  color: #585858;
}
.calculator-container .contents-side .contentLinks a:hover {
  text-decoration: underline;
}
.calculator-container .fa-brands.fa-github {
  font-size: 1.33rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 65%;
  max-width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 32px;
  padding: 7px 15px;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.33);
  gap: 10px;
}

.information-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #eee;
  width: 60%;
  min-width: 1000px;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.33);
  border-radius: 32px;
  overflow: hidden;
}

.info-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(220, 220, 220);
  max-width: 90%;
}

.info-container p {
  padding: 0 32px;
}

.info-container .fa-solid.fa-circle-info {
  font-size: 2rem;
}

.info-container.mildWarn {
  background-color: rgb(255, 103, 79);
  color: #151515;
  position: relative;
}

.info-container.mildWarn .fa-solid.fa-circle-info,
.info-container.mildWarn .fa-solid.fa-triangle-exclamation {
  font-size: 1.5rem;
}

.info-container.attention {
  background-color: rgba(64, 39, 0, 0.4);
  border-color: rgb(228, 214, 56);
}

.info-container.attention .fa-solid.fa-circle-info,
.info-container.attention .fa-solid.fa-triangle-exclamation {
  font-size: 2rem;
  color: rgb(228, 215, 158);
}

.fetchError {
  margin-top: 20px;
}

.dbLoad {
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}

.dbLoad img {
  animation: spin 1s steps(16, end) infinite;
  width: 40px;
}

.heading,
.projectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.projectInfo {
  height: 100%;
  align-self: center;
  justify-content: space-evenly;
  padding: 0 5px;
}

.heading {
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 20, 0.8);
  flex-grow: 1;
  padding: 30px;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 16px;
  padding: 8px;
  max-height: 150px;
  overflow-x: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
}
.contents h1 {
  font-weight: bold;
  color: #555;
  font-size: 1.125rem;
  width: 100%;
  text-align: center;
}

.contents .contentLinks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 75%;
  width: 100%;
  gap: 6px;
  font-size: 0.9rem;
}

.contentLinks a {
  color: #888;
  text-decoration: none;
  max-width: 190px;
  display: -webkit-box;
  overflow: hidden;
}
.contentLinks a.lineClamp {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.contents a:hover {
  text-decoration: underline;
}

.calculator-container .main-element {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 0;
  align-items: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 100px;
  border-radius: 32px;
  width: 100%;
  min-height: calc(100vh - 65px - 20px);
}
.calculator-container .section-title {
  color: #151515;
  width: fit-content;
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: 600;
  width: 100%;
  border-radius: 12px;
}

.preview {
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 61.5vw;
  background-image: linear-gradient(#ddd, white 5%);
  border-radius: 0 0 32px 32px;
  padding: 25px 3.25vw;
  margin-top: -40px;
  --reflectionGrad: linear-gradient( 130deg, rgba(255,255,255,0.15) 35%, transparent 35.3%);
}
.preview.bigPicture {
  z-index: 500;
}
.preview.bigPicture a {
  cursor: pointer;
  max-width: 65%;
  margin: auto;
  position: relative;
}
.preview.bigPicture a > * {
  transition: 0.075s;
}
.preview.bigPicture a:hover i {
  font-size: 6rem;
}
.preview.bigPicture a:hover img.thumbnail {
  box-shadow: 0 0 12px;
}
.preview.bigPicture a img.thumbnail {
  pointer-events: none;
  max-width: 100%;
  border-radius: 12px;
}
.preview.bigPicture a i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  text-shadow: 0 0 8px black;
}

.preview-lessMargin {
  margin-bottom: 0;
}

.preview-desktop {
  position: relative;
  width: 50%;
  height: 22vw;
  width: auto;
  border-radius: 0.5vw;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.33);
}

.preview-desktop::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: var(--reflectionGrad);
}

.preview-desktop img {
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.5vw;
  border: 0.5vw solid black;
}

.preview-mobileWrapper {
  position: relative;
  border-radius: 1.5vw;
  height: 22vw;
  width: 10.7vw;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.33);
}

.preview-mobileFrame {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: var(--reflectionGrad);
}

.preview-mobileBackground {
  position: absolute;
  aspect-ratio: 1125/2436;
  top: 2%;
  left: 5%;
  height: 95.5%;
  object-fit: cover;
  border-radius: 0.5vw;
}

.section-wrapper {
  position: relative;
  display: flex;
  text-align: left;
  gap: 20px;
  width: 100%;
  padding: 1.5vw;
  z-index: 10;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 12px 14px -6px rgba(0, 0, 0, 0.2);
}
.section-wrapper img.zoomimage {
  width: 25vw;
  box-shadow: none;
  border: none;
}
.section-wrapper .text-wrapper {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.section-wrapper h1 {
  color: #ddd;
}
.section-wrapper p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  line-height: 28px;
  display: flex;
  align-items: flex-start;
  color: #374755;
}
.section-wrapper .content-wrapper {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.dark {
  flex-direction: row-reverse;
}

.section-wrapper .zooomimage-container {
  align-self: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 5px;
  max-width: 100%;
}

.examine {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.content-wrapper h1 {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
  color: white;
}

.section-wrapper .line {
  width: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, #496276 50%, transparent 90%);
  margin-top: 5px;
  margin-bottom: 10px;
}

.section-wrapper.dark .line {
  background-image: linear-gradient(270deg, #496276 50%, transparent 90%);
}

@media screen and (max-width: 1000px) {
  .calculator-container .main-element {
    padding: 0 10px;
    background-color: transparent;
    box-shadow: none;
    gap: 35px;
    margin-bottom: 75px;
    margin-top: 10px;
  }
  .info-container {
    width: 100%;
    backdrop-filter: blur(12px);
  }
  .text-wrapper {
    padding: 0;
    margin: 0;
  }
  .information-wrapper {
    min-width: unset;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.33);
  }
  .section-wrapper {
    flex-direction: column;
    text-align: left;
    padding: 30px 20px;
    width: 100%;
    background-color: white;
    border-radius: 0;
    box-shadow: none;
  }
  .calculator-container .section-title {
    text-align: left;
    background-color: transparent;
    background-image: none !important;
    font-weight: bold;
    box-shadow: none;
    padding: 0;
    color: #333 !important;
  }
  .calculator-container .content-wrapper {
    width: 100%;
  }
  .preview {
    box-shadow: none;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
    border-radius: 16px;
    width: var(--mobileInnerWidth);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.33);
    background-image: none;
    z-index: -1;
  }
  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 24px;
    padding: 0;
    gap: 0;
  }
  .projectInfo {
    overflow: hidden;
    overflow: visible;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 8px 6px -3px rgba(0, 0, 0, 0.33);
  }
  .heading {
    border-radius: 16px 16px 0 0;
    box-shadow: none;
  }
  .contents {
    box-shadow: none;
    border-radius: 0;
  }
  .contents {
    border: 1px solid #bbb;
    border-left-width: 0;
    border-right-width: 0;
    overflow: unset;
    max-height: unset;
  }
  .heading,
  .contents,
  .projectInfo {
    padding: 25px;
    min-width: 100%;
    max-width: 100%;
  }
  .preview-desktop,
  .preview-mobileWrapper {
    height: 30vh;
  }
  .preview-mobileWrapper {
    width: 14.125vw;
    border-radius: 1.9vw;
  }
  .skills {
    flex-wrap: wrap;
  }
  .calculator-container .btn {
    justify-content: center;
    padding: 5px 10px;
    border-radius: 8px;
  }
  .contentLinks a {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .calculator-container {
    margin-top: 0;
    min-height: calc(100dvh - 65px - 20px);
  }
  .calculator-container .main-element {
    margin-top: 0;
  }
  .calculator-container .main-element .info-container {
    margin-top: 35px;
  }
  .preview {
    margin: 0;
    width: calc(100% - 32px);
    position: relative;
    padding: 12px;
    border-radius: 0 0 16px 16px;
    margin-top: -59px;
  }
  .preview-desktop {
    width: auto;
    height: 39.5vw;
    margin-bottom: 17.5vw;
    border-radius: 1.5vw;
  }
  .preview-desktop img {
    width: 70vw;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 0.5vw;
    border: 0.5vw solid black;
    border-radius: 1.5vw;
    border-width: 0.75vw;
  }
  .preview-mobileWrapper {
    position: absolute;
    right: 12px;
    bottom: 12px;
    border-radius: 3vw;
    height: 53.125vw;
    width: 25.6875vw;
  }
  .preview-mobileFrame {
    border-radius: 3.8vw;
  }
  .contents-side.active {
    display: none;
  }
}