.construction-container .message {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 16px;
  border: 2px solid rgb(103, 204, 255);
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(103, 204, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
  width: fit-content;
  max-width: 90%;
}

.construction-container span {
  padding: 0 60px;
}

.construction-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction-container .fa-solid.fa-screwdriver-wrench {
  animation: wrenchWiggle 2s infinite;
  font-size: 2rem;
}

@keyframes wrenchWiggle {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(25deg);
  }
  10% {
    transform: rotate(0);
  }
  65% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(-25deg);
  }
  75% {
    transform: rotate(0);
  }
}