@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rollBottom {
  0% {
    opacity: 0;
    transform: translateY(3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rollTop {
  0% {
    opacity: 0;
    transform: translateY(-3vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.webdev-container,
.gamedev-container,
.modelViewer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 65px - 10px);
}

.wire-container {
  position: absolute;
  top: -100px;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  z-index: -1;
}

.gamedev-container {
  position: relative;
}
.gamedev-container .wire-container {
  top: 0;
  position: fixed;
}
.gamedev-container .polygon-canvas {
  animation: fadeIn 0.66s;
}

.modelViewer-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #111;
}
.modelViewer-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 256px;
  top: -256px;
  background: #111;
}
.modelViewer-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 32px;
  bottom: -32px;
  background: #111;
}
.modelViewer-container .content-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 25px;
  height: calc(100vh - 65px - 10px);
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 7fr 1fr;
  transition: 0.2s;
  gap: 6px;
}
@media screen and (min-width: 800px) {
  .modelViewer-container .content-wrapper.settings-expand {
    grid-template-rows: 4fr 4fr;
  }
}
.modelViewer-container .content-wrapper .contentBrowser {
  overflow: hidden;
  position: relative;
  background-color: #222;
  border-radius: 12px;
  height: 100%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.75);
  position: relative;
  height: 100%;
  justify-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
.modelViewer-container .content-wrapper .contentBrowser .viewer-label {
  pointer-events: none;
  z-index: 50;
  display: flex;
  padding: 3px 6px;
  position: absolute;
  left: 0;
  top: 0;
  gap: 4px;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 6px;
  background: #353535;
  color: #999;
  font-size: 0.85rem;
}
.modelViewer-container .content-wrapper .contentBrowser .viewer-label i {
  color: #ddd;
  font-size: 1rem;
}
.modelViewer-container .content-wrapper .contentBrowser .info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
.modelViewer-container .content-wrapper .contentBrowser .cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  max-height: 100%;
  padding-top: 30px;
  gap: 12px;
  overflow-y: auto;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.125s;
  cursor: pointer;
  animation: flyIn 0.25s forwards;
  opacity: 0;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard.active .img-container {
  outline: 2px solid #31a6ff;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard.active .title-container {
  background: #31a6ff;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard.active .title-container h2 {
  color: #151515;
}
@keyframes flyIn {
  from {
    transform: translateY(-75px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: 800px) {
  .modelViewer-container .content-wrapper .contentBrowser .meshCard:hover {
    border-color: lightblue;
    background-color: rgba(170, 170, 170, 0.1);
  }
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard .img-container {
  position: relative;
  width: 138px;
  height: 138px;
  background: steelblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 6px;
  border-radius: 4px;
  overflow: hidden;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard .img-container p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1px 2px;
  font-size: 0.6rem;
  background: rgba(85, 85, 85, 0.33);
  color: #151515;
  border-top-right-radius: 4px;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard .img-container i.fa-person-running {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3px;
  bottom: 3px;
  padding: 3px;
  background: rgba(255, 255, 255, 0.8);
  color: #151515;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard .title-container {
  position: relative;
  border-radius: 16px;
  max-width: 150px;
  height: 1.25rem;
  overflow-x: hidden;
  overflow-y: visible;
  transition: 0.2s;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard .title-container h2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
  color: #eee;
}
.modelViewer-container .content-wrapper .contentBrowser .meshCard .title-container h2.scrolling {
  left: 0;
  transform: translateX(6px);
}
.modelViewer-container .content-wrapper .canvas-wrapper {
  overflow: hidden;
  position: relative;
  background-color: #222;
  border-radius: 12px;
  height: 100%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.75);
  padding: 0;
  overflow: hidden !important;
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
}
.modelViewer-container .content-wrapper .canvas-wrapper .viewer-label {
  pointer-events: none;
  z-index: 50;
  display: flex;
  padding: 3px 6px;
  position: absolute;
  left: 0;
  top: 0;
  gap: 4px;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 6px;
  background: #353535;
  color: #999;
  font-size: 0.85rem;
}
.modelViewer-container .content-wrapper .canvas-wrapper .viewer-label i {
  color: #ddd;
  font-size: 1rem;
}
.modelViewer-container .content-wrapper .canvas-wrapper .canvas-info {
  position: absolute;
  z-index: 100;
  right: 4px;
  top: 4px;
}
.modelViewer-container .content-wrapper .canvas-wrapper .canvas-info button {
  border-radius: 50%;
  font-size: 1.125rem;
  padding: 0;
  width: 24px;
  height: 24px;
}
.modelViewer-container .content-wrapper .canvas-wrapper .canvas-info button i {
  font-size: 0.95rem;
}
.modelViewer-container .content-wrapper .canvas-wrapper .model-info {
  position: absolute;
  font-size: 0.8rem;
  left: 0;
  padding: 1px 3px;
  padding-left: 6px;
  bottom: 0;
  z-index: 100;
  color: rgba(255, 255, 255, 0.75);
  background: rgba(51, 51, 51, 0.4);
}
.modelViewer-container .content-wrapper .canvas-wrapper .viewCanvas {
  cursor: grab;
  z-index: 10;
}
.modelViewer-container .content-wrapper .canvas-wrapper .viewCanvas:active {
  cursor: grabbing;
}
.modelViewer-container .content-wrapper .canvas-wrapper .viewCanvas .pickHint {
  width: 250px;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background: #fff;
  padding: 5px 10px;
  border: 2px solid #333;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  flex-direction: column;
  padding: 6px 0;
  position: absolute;
  z-index: 100;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(97, 97, 97, 0.8);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  min-width: 350px;
  max-width: 100%;
  width: 30vw;
  transition: 0.25s;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar.active {
  opacity: 1;
  bottom: 20px;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar.minimized {
  bottom: -75px;
  width: 15vw;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30px;
  width: 100%;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .top-container h3 {
  font-size: 0.8rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.625);
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .top-container .minimizeBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px;
  height: 16px;
  width: 32px;
  font-size: 1.5rem;
  background: none;
  box-shadow: none;
  color: #eee;
  font-weight: bold;
  transition: font-size 0s;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .top-container .minimizeBtn.minimized {
  font-size: 1rem;
  justify-content: flex-end;
  padding-right: 6px;
  height: 26px;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .top-container .minimizeBtn:hover {
    color: #333;
    text-shadow: 0 0 6px #fff;
  }
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .rangeContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .rangeContainer .rangeAfter {
  position: absolute;
  top: 6px;
  width: 100%;
  height: 4px;
  background: #aaa;
  pointer-events: none;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .times-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .times-container p {
  font-size: 0.9rem;
  color: #eee;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar select {
  border-radius: 8px;
  border: none;
  margin-bottom: 4px;
  font-size: 0.9rem;
  padding: 3px 5px;
  transition: 0.1s;
  width: 120px;
  background: none;
  color: #eee;
  text-align: right;
  cursor: pointer;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar select:hover {
  color: #fff;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar select p {
  font-size: 0.8rem;
  color: #fff;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar select option {
  color: #333;
  cursor: pointer;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar input[type=range] {
  width: 100%;
  margin-bottom: 8px;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .bottom-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0 6px;
  height: 30px;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .speedBtn {
  justify-content: flex-start;
  width: 60px;
  height: 24px;
  background: none;
  box-shadow: none;
  color: #eee;
  font-size: 0.9rem;
  text-align: left;
  padding: 0;
  margin-right: 60px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .speedBtn::-ms-expand {
  display: none;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .time-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: fit-content;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .time-buttons button {
  width: 30px;
  height: 30px;
  background: none;
  box-shadow: none;
  padding: 4px;
}
.modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .time-buttons button i {
  font-size: 1.75rem;
  color: #fff;
  transition: 0.1s;
}
@media screen and (min-width: 800px) {
  .modelViewer-container .content-wrapper .canvas-wrapper .animation-bar .time-buttons button:hover i {
    color: #333;
    text-shadow: 0 0 8px #fff;
  }
}
.modelViewer-container .content-wrapper .viewerSettings {
  overflow: hidden;
  position: relative;
  background-color: #222;
  border-radius: 12px;
  height: 100%;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
  background: #454545;
  color: white;
  cursor: pointer;
}
.modelViewer-container .content-wrapper .viewerSettings .viewer-label {
  pointer-events: none;
  z-index: 50;
  display: flex;
  padding: 3px 6px;
  position: absolute;
  left: 0;
  top: 0;
  gap: 4px;
  border-width: 0 1px 1px 0;
  border-bottom-right-radius: 6px;
  background: #353535;
  color: #999;
  font-size: 0.85rem;
}
.modelViewer-container .content-wrapper .viewerSettings .viewer-label i {
  color: #ddd;
  font-size: 1rem;
}
.modelViewer-container .content-wrapper .viewerSettings .settings-list {
  padding: 10px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-height: 100%;
  overflow-y: auto;
}
.modelViewer-container .content-wrapper .viewerSettings button {
  padding: 1px 6px;
}
.modelViewer-container .content-wrapper .viewerSettings button.resetBtn {
  font-size: 0.95rem;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.modelViewer-container .content-wrapper .viewerSettings label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 2px 6px;
  border-radius: 8px;
  background: #373737;
}
.modelViewer-container .content-wrapper .viewerSettings label .inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 800px) {
  .webdev-container,
  .gamedev-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .minimizeBtn:hover {
    text-shadow: none !important;
    color: #eee !important;
  }
  .animation-bar {
    width: calc(100% - 8px) !important;
    max-width: 100% !important;
    min-width: unset !important;
  }
  .animation-bar input[type=range] {
    margin-bottom: 2px !important;
  }
  .animation-bar .select-container {
    display: none !important;
  }
  .animation-bar.active {
    bottom: 4px !important;
  }
  .animation-bar.minimized {
    bottom: -70px !important;
    width: 50% !important;
  }
  .animation-bar select {
    background: white !important;
    color: #333 !important;
    width: unset !important;
  }
  .animation-bar select.speedBtn {
    background: none !important;
    color: #eee !important;
  }
  .animation-bar .time-buttons {
    gap: 8px !important;
  }
  .animation-bar .bottom-navigation select,
  .animation-bar .bottom-navigation .time-buttons {
    width: 33.33% !important;
    margin: 0 !important;
  }
  .modelViewer-container .content-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: calc(100dvh - 65px - 30px - 175px) 175px auto;
    height: fit-content;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 64px;
    gap: 0;
  }
  .modelViewer-container .content-wrapper .canvas-wrapper {
    grid-row-start: unset;
    grid-row-end: unset;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .modelViewer-container .content-wrapper .canvas-wrapper .model-info {
    top: 24px;
    padding: 1px 3px;
    bottom: unset;
  }
  .modelViewer-container .content-wrapper .contentBrowser {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    min-height: 150px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }
  .modelViewer-container .content-wrapper .contentBrowser::before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 30px;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: 0.25s;
    right: 0;
    background-image: linear-gradient(270deg, #31a6ff -20%, transparent);
  }
  .modelViewer-container .content-wrapper .contentBrowser.right::before {
    opacity: 1;
  }
  .modelViewer-container .content-wrapper .contentBrowser::after {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 30px;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: 0.25s;
    left: 0;
    background-image: linear-gradient(90deg, #31a6ff -20%, transparent);
  }
  .modelViewer-container .content-wrapper .contentBrowser.left::after {
    opacity: 1;
  }
  .modelViewer-container .content-wrapper .contentBrowser .cardContainer {
    height: 100%;
    overflow-y: hidden;
    flex-wrap: nowrap;
  }
  .modelViewer-container .content-wrapper .viewerSettings {
    margin-top: 10px;
  }
  .meshCard .img-container {
    background-image: none;
    width: 90px !important;
    height: 90px !important;
  }
  .meshCard .title-container {
    max-width: 102px !important;
  }
}